<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="./process.js"></script>
    <script src="./script/web3.js"></script>
    <base href="http://localhost:3000/">
    <title>Mini game</title>
</head>
<body>
    <h1>Mini Game</h1>
    <div id="frmRegister">
        <input type="text" id="txtName" placeholder="Name">
        <input type="text" id="txtEmail" placeholder="Email">
        <input type="text" id="txtPhone" placeholder="Phone">
        <button id="Register">Register</button>
    </div>
    <button id="connectMM">Connect MetaMask</button>

    <div id="lstRegister" style="margin-top: 20px;">
        <table id="tblList" style="width: 80%;">
            <tr id="row1" style="text-align: center;">
                <td>Address</td>
                <td>ID</td>
            </tr>
        </table>

    </div>
</body>

</html>